<div class="menu">
  <div class="menu-item right">Contact Us</div>
  <div class="menu-item left">Finely Done Landscaping</div>
</div>
<img class="long-image" src="image1.JPG"/>
<div class="body">
  <div class="body-item">
  Servicing Excellence
  </div>
</div>
  <div class="body-content">
    Text
  </div>
