<h1>
  <div style="float: right; margin: 10px; object-fit: contain;">Useful Info</div>
  <div style="float: left; margin: 10px; object-fit: contain;">Finely Done Landscaping</div>
</h1>
  <img src="image1.JPG" alt="image1.JPG" style='height: 100%; width: 100%; object-fit: cover'/>
   <img src="image2.PNG" alt="image2.PNG" style='height: 100%; width: 100%; object-fit: cover'/>
<h2>
  fds
</h2>
