/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img{
  display: block;
  padding:0;
  margin:0;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 1vw;
  margin:0;

}

h1{
  display:block;

}


.menu-item{
  margin:.7vw;
  font-size:2.25vw;
  font-weight:600;
}

.body-item{
  margin:1.45vw;
  font-size:1.5vw;
  font-weight:600;
  text-align:center;
}

.right{
  float: right;
}

.left{
  float: left;
}

.long-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu{
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 164, 15, 0.6);
}

.body{
  overflow: auto;
  height: 100%;
  width: 100%;
  background: rgba(87, 71, 10, 0.5);
}

.body-content{
  float: left;
  padding-left: 25vw;
}
